<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/main.css">
    <script src="/public/js/jquery.min.js"></script>
    <script>
        $(function () {
            $("#btnRegister").click(function () {
                $.ajax({
                    type: 'post',
                    url: 'api/user/register',
                    data: {
                        userName: $("#userName").val(),
                        pwd: $("#pwd").val(),
                    },
                    dataType: 'json',
                    success: function (result) {
                        console.log(result);
                    }
                });
            });
        });
    </script>
</head>

<body>
    <input type="text" name="userName" id="userName">
    <input type="text" name="pwd" id="pwd">
    <input type="button" id="btnRegister" value="注册">
</body>

</html>